/*upper navbar*/
.navigation-clean {
  background: darkred;
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
}

.navigation-clean .navbar-brand {
font-weight: bold;
text-decoration: underline;
color: black;
}

.navigation-clean .navbar-nav #sellButton .active {
    background: black;
    border-radius: 4.8px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: white;
    margin-right: -1px;
}

.navigation-clean .navbar-nav .profile {
  border-radius: 50%;
  max-height: 34px;
  margin-left: 7px;
  margin-top: -11px;
  margin-bottom: -5px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navigation-clean .navbar-nav #cart {
    color: white;
    font-size: 26px;
    position: absolute;
    right: 4%;
    top: 8px;
}

.navigation-clean .navbar-toggler {
    border-style: none;
    position: absolute;
    right: 10%;
    top: 4px;
}

.navigation-clean .navbar-toggler-icon {
    position: static;
}

.navigation-clean .navbar-nav .nav-link {
  padding: 5px 13px;
}

.navigation-clean .navbar-nav .nav-item .dropdown-menu {
  margin-top: -5px;
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 13px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: rgba(232,7,7,0.83);
}

/*navbar with the searchbar*/

.navigation-clean-search {
background: grey;
font-size: 13px;
height: 5%;
max-height: 30px;
}

@media (min-width:768px) {
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
  padding: 0px 10px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
transition: 500ms;
border-bottom: 2px solid transparent;
}
.navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
    border-color: black;
}

.navigation-clean-search .form-inline .search-field, .navigation-clean-search .form-inline .search-field::placeholder {
border-bottom: 1px solid transparent;
background: transparent;
font-size: 13px;
border: none;
box-shadow: none;
height: 20px;
color: black;
}

@media (max-width:767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
}
