/*banner with picture*/
.banner {
text-align: center;
background: linear-gradient(transparent, black), url('../../assets/img/carmoney.jpg');
background-size: cover;
background-position: center;
height: 330px;
margin-bottom: 8%;
}

.banner-title {
color: black;
text-shadow: -1px 0px 1px white;
font-weight: 600;
font-size: 50px;
padding-top: 160px;
padding-bottom: 14px;
}

.banner-button, .banner-button:hover, .banner-button:focus {
    background: darkred;
    color: black;
    padding: 10px 30px;
    letter-spacing: 1px;
    font-size: 18px;
    box-shadow: none;
}

/*listing the products*/

.product-item .product-container {
background-color: black;
border-radius: 3px;
margin-bottom: 8px;
margin-right: -10px;
max-width: 200px;
}

.product-item .product-container:hover {
box-shadow: 0px 1px 2px white;
}

.product-item a.product-image {
margin-bottom: 5px;
height: 150px;
width: 100%;
display: block;
}

.product-item a.product-image img {
height: 100%;
width: 100%;   
}

.product-item h2 {
font-size: 16px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
font-weight: 800;
padding-left: 5px;
}

.product-item h2 a {
  text-decoration: none;
  color: white;
}

.product-item .product-price {
  color: darkred;
  font-weight: bold;
  font-size: 15px;
  padding-left: 5px;
  text-align: left;
}
