.place-product {
    margin-top: 50px;
}

.product-info {
    margin-bottom: 10px;
}

input.product-name {
    border-radius: 8px;
    font-size: 18px;
    width: 44%;
    padding: 4px;
}

input.currency {
    font-size: 18px;
    text-align: right;
    padding: 4px;
    padding-right: 6px;
    border-radius: 8px;
    width: 110px;
}

.resizedTextbox {
    resize: none;
    width: 80%;
    border-radius: 8px;
    border: 2px solid grey;
    padding: 4px;
    margin-bottom: 10px;
 }

.a {
    float: right;
    margin-right: 20%;
}

.b {
    display: inline-block;
    font-size: 20px;
    margin-right: 8px;
}

.place-product input[type=submit] {
	background-color: indianred;
    color: black;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-right: 20%;
    float: right;
}